# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [37]:
import pandas as pd

In [46]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
labdata_df = pd.read_csv(url)

In [47]:
labdata_df # Identify the dimensions of the dataset by determining the number of rows and columns it contains.

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.

labdata_df .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [12]:
#- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

labdata_df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [33]:
#- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.

# Selecciona solo las columnas numéricas
numeric_columns = labdata_df.select_dtypes(include='number')

# Calcula las estadísticas
median = numeric_columns.median()
mean = numeric_columns.mean()
mode = numeric_columns.mode()
std = numeric_columns.std()
q1 = numeric_columns.quantile(0.25)  # 25%
q2 = numeric_columns.quantile(0.50)  # 50% = median
q3 = numeric_columns.quantile(0.75)  # 75%

# Muestra resultados
print("This is Median\n", median)
print("This is Mean\n", mean)
print("This is Mode\n", mode)   # <-- aquí estaba mal en tu print
print("This is Std\n", std)     # <-- aquí también estaba mal el texto
print("This is Q1 (25%)\n", q1)
print("This is Q2 (50% / Median)\n", q2)
print("This is Q3 (75%)\n", q3)

# Insights: Income big variailty STD / Monthly premiun auto Difference mean and median (meaning bit outliners)

This is Median
 Income                  36234.000000
Monthly Premium Auto       83.000000
Total Claim Amount        354.729129
dtype: float64
This is Mean
 Income                  39295.701214
Monthly Premium Auto      193.234360
Total Claim Amount        404.986909
dtype: float64
This is Mode
    Income  Monthly Premium Auto  Total Claim Amount
0     0.0                  65.0               321.6
This is Std
 Income                  30469.427060
Monthly Premium Auto     1601.190369
Total Claim Amount        293.027260
dtype: float64
This is Q1 (25%)
 Income                  14072.000000
Monthly Premium Auto       68.000000
Total Claim Amount        202.157702
Name: 0.25, dtype: float64
This is Q2 (50% / Median)
 Income                  36234.000000
Monthly Premium Auto       83.000000
Total Claim Amount        354.729129
Name: 0.5, dtype: float64
This is Q3 (75%)
 Income                  64631.0
Monthly Premium Auto      109.5
Total Claim Amount        532.8
Name: 0.75, dtype: float64

In [45]:
#- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

# Selecciona solo las columnas numéricas
object_int_columns = labdata_df.select_dtypes(include=["object", "int64"])

# Calcula las estadísticas
count = object_int_columns.count()
nunique = object_int_columns.nunique()

# Muestra resultados
print("This is Count\n", count)
print("This is Unique\n", nunique)

#Insighs: Gender has missing values (~11%), Customer Lifetime Value is conseidered and obkjetc cos of %, and Policy Type, State, and Education have few categories useful for segmentation.

This is Count
 Customer                     1071
ST                           1071
GENDER                        954
Education                    1071
Customer Lifetime Value      1068
Number of Open Complaints    1071
Policy Type                  1071
Vehicle Class                1071
dtype: int64
This is Unique
 Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [65]:

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
labdata_df_state = pd.read_csv(url, usecols=["ST"])

labdata_df_state["ST"].value_counts(ascending=True)[0:5]

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [77]:

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
labdata_df_policy = pd.read_csv(url, usecols=["Policy Type"])

print(labdata_df_policy.index)


print(labdata_df_policy["Policy Type"].value_counts()) #ojo noolvidarse de los ()

RangeIndex(start=0, stop=4008, step=1)
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [87]:

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
labdata_df_policy_income = pd.read_csv(url, usecols=["Policy Type","Income"])

#Use loc to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.



avg_income_per_policy = labdata_df_policy_income.groupby("Policy Type")["Income"].mean()

avg_income_per_policy

Policy Type
Corporate Auto    41390.311966
Personal Auto     38180.698718
Special Auto      45954.701754
Name: Income, dtype: float64

In [93]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
labdata_df_policy_income = pd.read_csv(url, usecols=["Policy Type","Income"])

# Usa el nombre correcto del DataFrame
personal_auto_df = labdata_df_policy_income.loc[
    labdata_df_policy_income["Policy Type"] == "Personal Auto"
]

corporate_auto_df = labdata_df_policy_income.loc[
    labdata_df_policy_income["Policy Type"] == "Corporate Auto"
]

print("Personal Auto policies:\n", personal_auto_df.head(), "\n")
print("Corporate Auto policies:\n", corporate_auto_df.head(), "\n")

# 👉 Cálculo de los promedios
avg_income_personal = personal_auto_df["Income"].mean()
avg_income_corporate = corporate_auto_df["Income"].mean()

print("Average income (Personal Auto):", avg_income_personal)
print("Average income (Corporate Auto):", avg_income_corporate)

Personal Auto policies:
     Income    Policy Type
0      0.0  Personal Auto
1      0.0  Personal Auto
2  48767.0  Personal Auto
4  36357.0  Personal Auto
5  62902.0  Personal Auto

Corporate Auto policies:
      Income     Policy Type
3       0.0  Corporate Auto
6   55350.0  Corporate Auto
7       0.0  Corporate Auto
8   14072.0  Corporate Auto
12  77026.0  Corporate Auto

Average income (Personal Auto): 38180.69871794872
Average income (Corporate Auto): 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here